image: deepview/rust:1.80.1

clone:
  depth: full

definitions:
  caches:
    cargo: /usr/local/cargo
    rust-target: $BITBUCKET_CLONE_DIR/target
  steps:
    - step: &build
        name: Build
        runs-on:
          - 'self.hosted'
        size: 2x
        caches:
          - cargo
          - rust-target
        script:
          - |
            if [ -z "$BITBUCKET_TAG" ] ; then
              export BRANCH=$(echo ${BITBUCKET_BRANCH} | sed 's,/,-,g')
              export VERSION=0.0.0-${BRANCH}-${BITBUCKET_BUILD_NUMBER}
            else
              export VERSION=${BITBUCKET_TAG}
            fi
          - sed -i "s/0.0.0/$VERSION/g" Cargo.toml
          - cargo build --target=aarch64-unknown-linux-gnu --config target.aarch64-unknown-linux-gnu.linker=\"aarch64-linux-gnu-gcc\" --release
          - cargo clippy --target=aarch64-unknown-linux-gnu --message-format=json > clippy.json || true
          - cargo audit --json > audit.json || true
          - cargo outdated --depth 1 --format json > outdated.json || true
          - cargo sonar --clippy --audit --outdated
        artifacts:
          - target/aarch64-unknown-linux-gnu/release/maivin-replay
          - sonar-issues.json
    - step: &sonar
        name: Code Sonar
        runs-on:
          - 'self.hosted'
        image: sonarsource/sonar-scanner-cli:11
        script:
          - sonar-scanner
pipelines:
  default:
    - step: *build
    - step: *sonar
  pull-requests:
    '**':
      - step: *build
      - step: *sonar
      - step:
          name: Deploy
          deployment: Test
          script:
            - echo "Deploy Pull-Request"
  tags:
    '*.*.*':
      - step: *build
      - step: *sonar
      - step:
          name: Deploy to Production
          deployment: Production
          script:
            - cp target/aarch64-unknown-linux-gnu/release/maivin-replay maivin-replay-$BITBUCKET_TAG
            - pipe: atlassian/bitbucket-upload-file:0.7.3
              variables:
                BITBUCKET_USERNAME: au-zone-ci
                BITBUCKET_APP_PASSWORD: $BITBUCKET_PASSWORD
                FILENAME: "maivin-replay-$BITBUCKET_TAG"
            - pipe: atlassian/aws-s3-deploy:1.6.1
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
                AWS_DEFAULT_REGION: 'us-west-2'
                S3_BUCKET: "maivin/services/replay"
                LOCAL_PATH: "."
                EXTRA_ARGS: "--exclude=* --include=maivin-replay-$BITBUCKET_TAG"